<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="963e97d8-e67c-418c-9bdf-05a0b7726d10" Publisher="CN=Cyril" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="963e97d8-e67c-418c-9bdf-05a0b7726d10" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Apricot</DisplayName>
    <PublisherDisplayName>Cyril</PublisherDisplayName>
    <Logo>Assets\Logo\StoreLogo.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Apricot.App">
      <m3:VisualElements DisplayName="Apricot" Square150x150Logo="Assets\Logo\Logo.jpg" Square44x44Logo="Assets\Logo\SmallLogo.jpg" Description="Apricot" ForegroundText="light" BackgroundColor="#FF6600">
        <m3:DefaultTile Wide310x150Logo="Assets\Logo\WideLogo.jpg" Square71x71Logo="Assets\Logo\Square71x71Logo.jpg">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>